__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
.env

# IGNORE CONTENTS, NOT THE FOLDER ITSELF
/data/*

# WHITELIST (Un-ignore) SPECIFIC SUBFOLDERS
!/data/.gitkeep
!/data/processed/

config/secrets.env
.DS_Store